:root {
  --main-bg-color: black;
  --main-text-color: lightgray;
  --main-accent-color: #1a35ce;
  --alt-accent-color: #0b26c0;
  --dark-accent-color: #2b2b2b;
  --darker-accent-color: #1a1a1a;
  --link-color: #3760d1;

  --max-width: 800px;
  --clickable-height: 36px;
  --title-bar-height: 70px;

  --number-of-props: 9;
  --notation-width: 28%
}

body {
  background-color: black;
  color: lightgray;
}

select {
  background-color: var(--dark-accent-color);
  /* text-transform: capitalize; */
  color: inherit;
  font-size: 11pt;
  height: var(--clickable-height);
  border: 1px solid var(--dark-accent-color);
  border-style: solid;
  outline-style: none;
  border-radius: 5px;
  padding: 0 5px;
  min-width: 100px;
}

select:focus {
  border-color: var(--main-accent-color);
}

td {
  padding: 0 10px 0 0;
}

.combo-builder {
  margin: auto;
  max-width: var(--max-width);
}

.top-bar {
  padding: 20px;
}

.combo-table {
  padding: 20px;
}

.move-row {
  padding: 10px 0;
}

.next-move {
  width: 200px;
}

.active {
  background-color: var(--main-accent-color);
}